#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@ --buildsystem=meson --builddirectory=debian/build

override_dh_auto_configure:
	dh_auto_configure -- \
		-Dprofile_dir=/usr/share/chaddr/profile \
		-Ddoc_dir=/usr/share/doc/chaddr/examples


# Autotools leftovers must not run after Meson conversion.
override_dh_autoreconf:
